
{% load staticfiles %}
{% include 'admin-interface/header.html' %}

<div class="profilePage"></div>
<div class="layout-content">
    <div class="layout-content-body">
        <div class="title-bar">

            <h1 class="title-bar-title">
              <span class="d-ib">Change Password /</span>
              <a href="/admin/users/admin_profile/">Back</a>
            </h1>
        </div>

        <div class="row gutter-xs">


            <div class="col-md-8 card panel-body  " id="">
                <div class="col-sm-12 col-md-12">

                    <div class="demo-form-wrapper">
                        <form class="form form-horizontal" method="POST" enctype='multipart/form-data' action='/admin/users/change_password/'>
                            <div class="form-group">
                            	{% csrf_token%}

                                <div class="col-md-8">
                                    <label for="" class=" control-label">Old Password</label>

                                    <input id="1" class="form-control" name='oldpassword' type="password" minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">New Password</label>

                                    <input id="2" class="form-control" name='password'type="password" minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label for="" class=" control-label">Confirm Password</label>

                                    <input id="3" class="form-control" name='confpassword' type="password" minlength="8" data-msg-minlength="Password must be 8 characters or more." data-msg-required="Please enter your password." required>
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <div class=" col-sm-8  col-md-8 ">
                                    <button class="btn btn-primary btn-block " type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div>
                        {% if form.errors %}
          				<br>
           				<p style="color:red; margin-left: 150px">{{ form.non_field_errors.as_text |cut:"* "}}</p>
            			{% endif %}

            			{% if messages %}
            			{% for message in messages %}
            			<p style="color:green;text-align: center;">{{message}}</p>
						 {% endfor %}
						{% endif %}</div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

{% include 'admin-interface/footer.html' %}
