
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    
  
<head>

    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#2c3e50">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elephant.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/iEdit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        
      <link rel="stylesheet" href="{% static  'css/shopping-cart.min.css' %}">
        <style type="text/css">
    
      .errorlist {
      list-style: none !important;
      }
        </style>
<!-- <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-messaging.js"></script> -->
<script src="{% static 'js/app.js' %}"></script>


  </head>
  
  <body class="layout layout-header-fixed">
      
    <div class="layout-header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="index.html">
            <img class="navbar-brand-logo" src="/media/img/logo.png" alt="Elephant">
          </a>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
          </button>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="/media/img/0180441436.jpg" alt="Teddy Wilson">
            </span>
          </button>
        </div>
        <div class="navbar-toggleable">
          <nav id="navbar" class="navbar-collapse collapse">
            <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>


            <div style="width:28%; display:inline-block;  vertical-align: top; "></div>
            <div style="display:inline-block;  vertical-align: top; ">
              <div id="lungi" style="display:none;  vertical-align: top; ">
                <div style="display: inline-block; vertical-align: top;">
                  <img id="lungiPic" src="" width="30px;" height="30px;" alt=""> &nbsp;&nbsp; You have a call..!!&nbsp;&nbsp;
                </div>
                <button onclick="acceptCall()">Accept</button>&nbsp;&nbsp;
                <button onclick="rejectCall()">Reject</button>
                <input id="lungiToken" type="hidden" value="">
              </div>
            </div>

            <ul class="nav navbar-nav navbar-right">

              {% if request.COOKIES.role == '2' %}

              <li>
                <a href="/admin/users/terms_about_contact/" id="settings" >
                  <span class="icon icon-cog icon-lg icon-fw icon-2x"></span>
                </a>
              </li>

              {% endif %}

              <li class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">7</span>
                  </span>
                  <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                  <div class="dropdown-header">
                    
                    <h5 class="dropdown-heading">Recent Notifications</h5>
                  </div>
                  <div class="dropdown-body">
                    <div class="list-group list-group-divided custom-scrollbar">
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">35 min</small>
                            <h5 class="notification-heading">Update Status</h5>
                            <p class="notification-text">
                              <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-flag bg-success rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">43 min</small>
                            <h5 class="notification-heading">Account Contact Change</h5>
                            <p class="notification-text">
                              <small class="truncate">A contact detail associated with your account teddy.wilson, has recently changed.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">1 hr</small>
                            <h5 class="notification-heading">Failed Login Warning</h5>
                            <p class="notification-text">
                              <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account teddy.wilson.</small>
                            </p>
                          </div>
                        </div>
                      </a>
                     
                      
                      <a class="list-group-item" href="#">
                        <div class="notification">
                          <div class="notification-media">
                            <img class="rounded" width="40" height="40" src="/media/img/0180441436.jpg" alt="Teddy Wilson">
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">9 hr</small>
                            <h5 class="notification-heading">Teddy Wilson</h5>
                            <p class="notification-text">
                              <small class="truncate">Published a new post: "Everything you know about Bootstrap is wrong".</small>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="dropdown-footer">
                    <a class="dropdown-btn" href="#">See All</a>
                  </div>
                </div>
              </li>
              <li class="dropdown hidden-xs">
                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                  <!-- <img class="rounded" width="36" height="36" src="/media/img/0180441436.jpg" alt="Teddy Wilson"> --> <span style="font-size:15px">Hi {{request.user.first_name}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="/admin/users/admin_profile/">Profile</a></li>
                  <li><a href="/admin/users/logout/">Sign out</a></li>
                </ul>
              </li>

              <li class="visible-xs-block">
                <a href="contacts.html">
                  <span class="icon icon-users icon-lg icon-fw"></span>
                  Contacts
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/admin/users/admin_profile/">
                  <span class="icon icon-user icon-lg icon-fw"></span>
                  Profile
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/admin/users/logout/">
                  <span class="icon icon-power-off icon-lg icon-fw"></span>
                  Sign out
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
          <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
              <ul class="sidenav">
                
                <li class="sidenav-heading">Navigation</li>
                <li class="sidenav-item dashboardPageNav">
                  <a href="/admin/users/home/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-home"></span>
                    <span class="sidenav-label">Dashboard</span>
                  </a>
                </li>
                <li class="sidenav-item profilePageNav">
                  <a href="/admin/users/admin_profile/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">Profile</span>
                  </a>
                </li>
              
              {% if request.COOKIES.role == '2' %}

                <li class="sidenav-item userManagementNav">
                  <a href="/admin/users/user_list/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">User management</span>
                  </a>
                </li>
                <li class="sidenav-item has-subnav ">
                  <a href="#" aria-haspopup="true" aria-expanded="true">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Member management</span>
                  </a>

                  <ul class="sidenav-subnav collapse" aria-expanded="true" style="">
                    <li class="accNav-a"><a href="/admin/users/manufacturer_list/">Manufacturer</a></li>
                    <li class="accNav-b"><a href="/admin/users/stylist_list/">Stylist</a></li>
                    <li class="accNav-c"><a href="/admin/users/designer_list/">Designer</a></li>
                  </ul>
                </li>

                {% endif %}

                {% if request.COOKIES.permission_8 == 'True' %}
                <li class="sidenav-item productManagementNav">
                  <a href="/admin/users/product_list/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-dropbox"></span>
                    <span class="sidenav-label">Product management</span>
                  </a>
                </li>
                {% endif %}

              {% if request.COOKIES.role != '2'%}

                <li class="sidenav-item appInProfileNav">
                  <a href="/admin/users/appin_profile/{{request.COOKIES.role}}" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-file-text"></span>
                    <span class="sidenav-label">App-In Profile</span>
                  </a>
                </li>
                {% endif %}

                {% if request.COOKIES.role == '3' or request.COOKIES.role == '4'%}


                <li class="sidenav-item categoryManagementNav">
                  <a href="/admin/users/add_category/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-list"></span>
                    <span class="sidenav-label">My Category management</span>
                  </a>
                </li>
                {% endif %}

                {% if request.COOKIES.role == '2' %}
<!--                <li class="sidenav-item categoryManagementNav">-->
<!--                  <a href="#" aria-haspopup="true">-->
<!--                    <span class="sidenav-icon icon icon-list"></span>-->
<!--                    <span class="sidenav-label">Category management</span>-->
<!--                  </a>-->
<!--                </li>-->

                <li class="sidenav-item offerPageNav">
                  <a href="/admin/users/coupon_management/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-tags"></span>
                    <span class="sidenav-label">Offer management</span>
                  </a>
                </li>


                <li class="sidenav-item deliveryManagementNav">
                  <a href="/admin/users/delivery_charges/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-truck"></span>
                    <span class="sidenav-label">Delivery management</span>
                  </a>
                </li>

                <li class="sidenav-item AVManagementNav">
                  <a href="/admin/users/audio_video_charges" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-video-camera"></span>
                    <span class="sidenav-label">A/V Charges management</span>
                  </a>
                </li>

                <li class="sidenav-item policyPageNav">
                  <a href="/admin/users/return_and_refund_policy/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-undo"></span>
                    <span class="sidenav-label">Return and Refund policy</span>
                  </a>
                </li>
               

                <li class="sidenav-item has-subnav settingNav">
                  <a href="#" aria-haspopup="true" aria-expanded="true">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Settings management</span>
                  </a>

                  <ul class="sidenav-subnav collapse" aria-expanded="true" style="">
                    <li class="settingNav-a"><a href="/admin/users/terms_about_contact/">Terms and about us</a></li>
                    <li class="settingNav-b"><a href="/admin/users/faq/">FAQ</a></li>
                  </ul>
                </li>

                {% endif %}

                {% if request.COOKIES.permission_5 == 'True' %}
                <li class="sidenav-item orderManagementNav">
                  <a href="/admin/users/order_list" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-shopping-cart"></span>
                    <span class="sidenav-label">Order management</span>
                  </a>
                </li>
                {% endif %}
                {% if request.COOKIES.permission_6 == 'True' %}
                <li class="sidenav-item paymentManagementNav">
                  {% if request.COOKIES.role == '2' %}
                  <a href="/admin/users/customer_transaction_list" aria-haspopup="true">
                    {% else %}
                  <a href="/admin/users/member_transaction_list" aria-haspopup="true">
                    {% endif %}
                    <span class="sidenav-icon icon icon-money"></span>
                    <span class="sidenav-label">Payment management</span>
                  </a>
                </li>
                {% endif %}
                {% if request.COOKIES.permission_7 == 'True' %}
                <li class="sidenav-item reportManagementNav">
                  <a href="/admin/users/graph_report" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-file-text"></span>
                    <span class="sidenav-label">Report Generation</span>
                  </a>
                </li>
                {% endif %}

                {% if request.COOKIES.permission_4 == 'True' %}
                {% if request.COOKIES.role != '5' %}
                 <li class="sidenav-item chatManagementNav">
                  <a href="/admin/users/chat/dashboard" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-wechat"></span>
                    <span class="sidenav-label">Chat management</span>
                  </a>
                </li>
                {% endif %}
                {% endif %}




                 
            </ul>
            </nav>
          </div>
        </div>
      </div>
