{% load staticfiles %}

{% include 'admin-interface/header.html' %}


    <div class="user3Page ExplorerListPage">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                      <span class="d-ib">Stylist Management</span>
                    </h1>
                    <button class="btn btn-default btn-sm btn-labeled" type="button" data-toggle="modal" data-target="#addNew">
                      <span class="add-btn">
                        Add New
                      </span>
                    </button>
                </div>
                <div class="row gutter-xs">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions">
                                    <button type="button" class="card-action card-toggler" title="Collapse"></button>
                                    <button type="button" class="card-action card-reload" title="Reload"></button>

                                </div>
                                <strong>Stylist list</strong>
                            </div>
                            <div class="card-body">
                                <table id="demo-datatables-5" class="table table-striped table-bordered table-nowrap dataTable" cellspacing="0" width="100%">
                                    <thead>
                                       <tr>
                                            <th>Sr. No.</th>
                                            <th>Name</th>
                                            <th>Email-ID</th>
                                            <th>Mobile</th>
                                            <th>View profile</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                      {% for stylist in stylists %}
                                        <tr>
                                             <td>{{forloop.counter}}</td>
                                            <td>{{stylist.user.first_name}} {{stylist.user.last_name}}</td>
                                            <td>{{stylist.user.email}}</td>
                                            <td>{{stylist.phonenum}}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm btn-labeled" type="button" data-toggle="modal" id ="{{ stylist.id }}"  data-target="#viewSeller" onclick="myFunction(this.id)">
                                                    <span class="btn-label">
                                                     <span class="icon icon-eye icon-lg icon-fw"></span>
                                                    </span>
                                                    View Profile
                                                </button>
                                            </td>
                                            <td>

                                         

                                               <button class="btn btn-danger btn-sm btn-labeled" type="button" data-toggle="modal"  id ="{{ stylist.id }}" onclick="deleteuser(this.id)" data-target="#deleteUser">
                                                    <span class="btn-label">
                                                     <span class="icon icon-bank icon-lg icon-fw"></span>
                                                    </span>
                                                  </button>

                                                {% if stylist.user.is_active %} 
                                                <button class="btn btn-warning btn-sm btn-labeled" type="button" data-toggle="modal"  id ="{{ stylist.id }}" data-target="#blockUser" onclick="blockuser(this.id)">
                                                    <span class="btn-label">
                                                     <span class="icon fa-ban icon-lg icon-fw"></span>
                                                    </span>
                                                   </button>

                                              {% else %}

                                              <button class="btn btn-success btn-sm btn-labeled" type="button" data-toggle="modal" id ="{{ stylist.id }}" data-target="#unblockUser" onclick="unblockuser(this.id)" >
                                                    <span class="btn-label">
                                                     <span class="icon icon-check icon-lg icon-fw"></span>
                                                    </span>
                                                   </button>
                                                   {% endif %}

                                            </td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% include 'admin-interface/footer.html' %}


    <div id="viewSeller" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">User full detail</h4>
          </div>


          <div class="modal-body provider-detail">
           <div class="row">
            <div class="col-md-6">
              <div class="card text-center">
                <div class="card-image">
                  <div class="overlay">
                  </div>
                </div>
                <div class="card-avatar text-left">
                  <a class="card-thumbnail rounded" style="width: 150px;height: 160px;overflow: hidden;" href="#">
                    <img class="img-responsive" id ="image"src="/media/img/8447261358.jpg" alt="Instagram">
                  </a>
                </div>

                <div class="card-body">
                  <h3 class="card-title text-left" id ="name" >User name</h3>
                  <p class="card-text text-left">
                   <span class="app-users" id ="about">
                     <span class="icon icon-map-marker"></span>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel harum sequi,
                      
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-middle media-body">
                            <h4 class="m-y-0" >Phone number</h4>
                            <small id ="phonenumber" ></small>
                          </div>
                        </li>
                        <li class="media">
                          <div class="media-middle media-body">
                            <h4 class="m-y-0">Gender</h4>
                            <small id ="gender"></small>
                          </div>
                        </li>
                        <li class="media">
                          <div class="media-middle media-body">
                            <h4 class="m-y-0">Region</h4>
                            <small id="region"></small>
                          </div>
                        </li>
                        <li class="media">
                          <div class="media-middle media-body">
                            <h4 class="m-y-0" >Email</h4>
                            <small id = "email"></small>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
           </div>
          </div>

 


          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>
    <div id="addUser" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add new Sales representative</h4>
          </div>
          <div class="modal-body provider-detail">
           <div class="row">
            <div class="col-xs-12">
             <form class="form form-horizontal">
                  <div class="form-group">
                      <div class="col-md-8">
                          <label for="" class="control-label">Email ID</label>
                          <input id="" class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-md-8">
                          <label for="" class="control-label">
                          <a href="#">Generate password</a></label>
                          <input id="" class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class=" col-sm-8  col-md-8 ">
                          <button class="btn btn-primary " type="submit">Save</button>
                      </div>
                  </div>
              </form>  
             </div> 
           </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>


    <div id="unblockUser" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <span class="text-success icon icon-times-circle icon-5x"></span>
              <h3 class="text-success">Sure</h3>
              <h4>Are you want to unblock this Stylist?</h4>
              <div class="m-t-lg">
                <button class="btn btn-success" id="unblockuser_id"  userid = "" onclick="unblockUserFunction()" data-dismiss="modal" type="button">Continue</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>


     <div id="blockUser" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <span class="text-danger icon icon-times-circle icon-5x"></span>
              <h3 class="text-danger">Block</h3>
              <h4>Are you want to Block this Stylist</h4>
              <div class="m-t-lg">
                <button class="btn btn-danger" id="blockuser_id" data-dismiss="modal" type="button"  userid = "" onclick="blockUserFunction()" />Continue</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>
    


    <div id="deleteUser" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <span class="text-danger icon icon-times-circle icon-5x"></span>
              <h3 class="text-danger">Delete</h3>
              <h4>Are you want to delete this Stylist</h4>
              <div class="m-t-lg">
                <button class="btn btn-danger" id="deleteuser_id" data-dismiss="modal" type="button" userid = "" onclick="deleteUserFunction()" />Continue</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
              </div>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>


<div id="addNew" tabindex="-1" role="dialog" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Sales Representative</h4>
          </div>
          <div class="modal-body provider-detail">
           <div class="row">
            <div class="col-xs-12">
             <form class="form form-horizontal">
                  <div class="form-group">
                      <div class="col-md-6">
                          <label for="Name" class="control-label">Name</label>
                          <input id="" class="form-control" type="text">
                      </div>
                      <div class="col-md-6">
                          <label for="Email" class="control-label">Email ID</label>
                          <input id="" class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-md-6">
                          <label for="Phone" class="control-label">Phone</label>
                          <input id="" class="form-control" type="text">
                      </div>
                      <div class="col-md-6">
                          <label for="Password" class="control-label">Password</label>
                          <input id="" class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12 col-md-12 addnew-btn">
                          <button class="btn btn-primary" type="submit">Save</button>
                      </div>
                  </div>
              </form>  
             </div> 
           </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>      
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">



function myFunction(clicked_id) {
    $.ajax(
    {
        type:"GET",
        url: "http://localhost:8000/api/v1/users/list/"+clicked_id,

        success: function( data ) 
        {   console.log(data.about)
          console.log(data)
          console.log(data.userotherinfo.first_name)
            document.getElementById("name").innerHTML = data.userotherinfo.first_name+' ' +data.userotherinfo.last_name;
            
            if(data.profileimg !=null){
                document.getElementById("image").src = data.profileimg;
            }
            document.getElementById("about").innerHTML = data.about;
            document.getElementById("gender").innerHTML = data.gender;
            document.getElementById("phonenumber").innerHTML = data.phonenum;
            document.getElementById("email").innerHTML = data.userotherinfo.email;
            document.getElementById("region").innerHTML = data.region;
         
        }
     })
}


function deleteuser(clicked_id){
  console.log(clicked_id)
  document.getElementById('deleteuser_id').setAttribute('userid',clicked_id) 

};

function blockuser(clicked_id){
  console.log(clicked_id)
  document.getElementById('blockuser_id').setAttribute('userid',clicked_id) 

};
function unblockuser(clicked_id){
  console.log(clicked_id)
  document.getElementById('unblockuser_id').setAttribute('userid',clicked_id) 

};

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


function deleteUserFunction(){
    var id  = document.getElementById('deleteuser_id').getAttribute("userid");
    $.ajax(
    {
        type:"POST",
        url: "http://localhost:8000/api/v1/users/delete/"+id,
        headers: { "X-CSRFToken":getCookie("csrftoken") },
      
      success: function( data ) 
        {   

            alert(data.message)
            window.location.reload();
         
        },

      statusCode: {
        404: function(response) {
            console.log('ajax.statusCode: 404');
            alert('404')
        },
        500: function(response) {
            alert('500')
        },
        400: function(response) {
            alert('400')
        },
    }
       
     })
   

  };


function blockUserFunction(){
    var id  = document.getElementById('blockuser_id').getAttribute("userid");
    $.ajax(
    {
        type:"POST",
        url: "http://localhost:8000/api/v1/users/block/"+id,
        headers: { "X-CSRFToken":getCookie("csrftoken") },
      
      success: function( data ) 
        {   

            alert(data.message)
            window.location.reload();        
        },

      statusCode: {
        404: function(response) {
            alert('404')
        },
        500: function(response) {
            alert('500')
        },
        400: function(response) {
            alert('400')
        },
    }
       
     })
   

  };

function unblockUserFunction(){
    var id  = document.getElementById('unblockuser_id').getAttribute("userid");
    $.ajax(
    {
        type:"POST",
        url: "http://localhost:8000/api/v1/users/unblock/"+id,
        headers: { "X-CSRFToken":getCookie("csrftoken") },
      
      success: function( data ) 
        {   

            alert(data.message)
            window.location.reload();        
        },

      statusCode: {
        404: function(response) {
            alert('404')
        },
        500: function(response) {
            alert('500')
        },
        400: function(response) {
            alert('400')
        },
    }
       
     })
   

  };

</script>