{% load staticfiles %}

{% include 'admin-interface/header.html' %}

<style>

  .image-list .file {
    width: 10% !important;
}

  .add-pic{
     margin-top:20px;
     margin-bottom: 20px;
  }
  span.icon-times-circle{
    position: absolute;
    right: 5%;
    top: 15%;
    cursor: pointer;
    z-index: 999;
}
.file {
    margin-bottom: 20px !important;
  }
.form-horizontal #basic .control-label , .form-horizontal #categories .control-label {
    text-align: right !important;
  }
  .form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.add-pic .pic-box{
  height: 200px !important;
}
#threedmodel .logoImg{
  height: 200px !important;
  width: auto !important;
}
#threedmodel .logoImg img{
  width: auto;
  height: 100%;
}
</style>
  <div class="ExplorerListPage">
    <div class="layout-content">
      <div class="layout-content-body">
        <div class="title-bar">
          <h1 class="title-bar-title">
            <span class="d-ib">Add Product Variant</span>
          </h1>
        </div>

        <div class="row gutter-xs">
          <div class="col-xs-12">
            <div class="panel m-b-lg " id="addvariant">

              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a id="basic-tab" href="#basic" data-toggle="tab">Basic</a></li>
                <li><a href="#images" id="img-tab" data-toggle="tab">Images</a></li>
                <li><a href="#threedmodel" id="3dimg-tab" data-toggle="tab">3D Model Images</a></li>

                <li><a href="#inventory" id="invent-tab" data-toggle="tab">Inventory</a></li>
              </ul>
              <form class="form form-horizontal" method="POST" action="" enctype='multipart/form-data'>{% csrf_token%}
                {% if form.errors %}

                  {% for field in form %}
                      {% for error in field.errors %}
                          <p style="color:red;text-align: center; margin:0px">
                              <span id="error_msg">{{ error|escape }}</span>
                          </p>
                      {% endfor %}
                  {% endfor %}

                  {% for error in form.non_field_errors %}
                     <p style="color:red;text-align: center; margin:0px">
                          <span id="error_msg">{{ error|escape }}</span>
                      </p>
                  {% endfor %}

                 {% endif %}

                  {% if messages %}
                  {% for message in messages %}
                  <p style="color:green;text-align: center;" id="error_msg">{{message}}</p>
               {% endfor %}
              {% endif %}

              <p style="color:red;text-align: center; margin-top: 10px" >
                   <span id="js_error_msg"></span>
                </p>

                <div class="tab-content">
                  <div class="tab-pane fade active in" id="basic">
                    <div class="col-sm-12 col-md-12">
                      <div class="demo-form-wrapper">

                        <div class="form-group m-t-lg">
                          <label class="col-sm-3 col-md-4 control-label">Colors : </label>
                          <div class="col-sm-6 col-md-4">
                            <select class="form-control" name="colour" required>
                              <option value = "">--Select Color--</option>
                              {% for colour in colours %}
                              <option value="{{colour.id}}">{{colour.name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 col-md-4 control-label">Price (MRP) : </label>
                          <div class="col-sm-6 col-md-4">
                            <input name="price" id="" class="form-control" type="number" value="{{price}}" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 col-md-4 control-label">Offer Price : </label>
                          <div class="col-sm-6 col-md-4">
                            <input id="" name="special_price" class="form-control" type="number" value="{{special_price}}">
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-12 mt-2 text-center">
                          <!-- <button  value="1" name ="click" class="btn btn-default">Back</button> -->
                          <a class="btn btn-default" href="/admin/users/view_product/{{product_id}}">Back</a>
                          <a id="next-imgs" class="btn btn-success">Next</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="images">
                    <div class="col-sm-12 col-md-12">
                      <div class="demo-form-wrapper">
                        <div class="row">
                          <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                             <div class="add-pic">
                              <div class="row text-center">
                                <label class="form-label">Add More Images (click on + button )<br><small class="text-info">(Dimension should be : 900 X 1200 px (3:4 ratio))</small></label><br>
                                <button id="add-img" class="btn btn-warning" type="button" style="padding: 0px; width: 30px; height: 30px; font-size: 30px; font-weight: bold; line-height: 30px; border-radius: 50%;">+</button>
                              </div>
                              <ul class="file-list image-list" style="margin-top: 20px;">
                                <li class="file"><div class="file-link logoImg gal-box"><img class="gal-result" src="/media/img/img-dummy-product.jpg" /><input type="file" name="product_img" class="gal-file" style="width: 85px; margin: 0 auto;"></div></li>
                              </ul>
                             </div>
                            </div>         
                          </div>
                          <div class="col-sm-12 col-md-12 mt-2 text-center">
                            <a id="pre-basic" class="btn btn-default">Previous</a>
                            <a id="next-3dimag" class="btn btn-success">Next</a>
                          </div>
                        </div>

                          <div class="row">
                            
                          </div>
                      </div>
                    </div>
                  </div>


                  <!-- 3D view  -->
                  <div class="tab-pane fade" id="threedmodel">
                    <div class="demo-form-wrapper">
                      <div class="row">
                        <div class="col-sm-5 col-md-4 pull-right">
                          <div class="form-group">
                            <label>Wearable Type</label>
                            <select class="form-control" name="cloths-type">
                              <option hidden value="0">Select</option>
                              
                              <option value="1">Topwear</option>
                              <option value="2">Bottomwear</option>
                              <option value="3">Fullwear</option>
                              
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 add-pic">
                          <div class="form-group">
                            <label class=" control-label">Front View <br><small class="text-info">(Dimension should be : 900 X 1200 px (3:4 ratio))</small></label>
                            <div class="pic-box">
                              <div class="logoImg">
                                <img src="https://www.wilddesignz.com/image/cache/catalog/placeholderproduct-500x500.png" id="result1">
                              <input id="front3d" name='front3d' type="file" class="hide">
                              <label for="front3d" class="btn btn-large"></label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 add-pic">
                          <div class="form-group">
                            <label class=" control-label">Front View Sample</label>
                            <div class="pic-box" style="margin-top: 35px;">
                              <div class="logoImg">
                                <img src="https://thatshirt.com/wp-content/uploads/2017/08/Gildan-42000B-Youth-Performance-T-shirt-Black-front.jpg">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 add-pic">
                          <div class="form-group">
                            <label class=" control-label">Back View<br><small class="text-info">(Dimension should be : 900 X 1200 px (3:4 ratio))</small></label>
                            <div class="pic-box">
                              <div class="logoImg">
                                <img src="https://www.wilddesignz.com/image/cache/catalog/placeholderproduct-500x500.png" id="result2">
                                <input id="back3d" name='back3d' type="file" class="hide">
                                <label for="back3d" class="btn btn-large"></label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 col-md-offset-4 add-pic">
                          <div class="form-group">
                            <label class=" control-label">Back View Sample</label>
                            <div class="pic-box" style="margin-top: 35px;">
                              <div class="logoImg">
                                <img src="https://thatshirt.com/wp-content/uploads/2017/08/Gildan-42000B-Youth-Performance-T-shirt-Black-back.jpg">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-12 mt-2 text-center">
                          <a id="pre-imgs" class="btn btn-default">Previous</a>
                          <a id="next-invent" class="btn btn-success">Next</a>
                        </div>
                      </div>
                    </div>
                  </div>




                  <div class="tab-pane fade" id="inventory">
                    <div class="col-sm-12 col-md-12">
                      <div class="demo-form-wrapper m-t-lg">
                          <div class="row">
                          
                            <div class="col-sm-12 col-md-12 text-center">

                              <button type="button" class="btn mb-2 btn-primary" id="add-inventory">Add Size Inventory</button>          
                            </div>
                          </div>
                          <div class="row size-inventory m-t-lg">

                            <div class="col-md-6 col-md-offset-3 sizes inventory-group">
                              <span class="icon"></span>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label">Size : </label>
                                  <select class="form-control" name="size" required > 
                                      <option value="">--select size--</option>
                                      <option value="XS">XS</option>
                                      <option value="S">S</option>
                                      <option value="M">M</option>
                                      <option value="L">L</option>
                                      <option value="XL">XL</option>
                                      <option value="XXL">XXL</option>
                                      <option value="XXXL">XXXL</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="about" class="control-label">Quantity : </label>
                                <input type="number" name="qty" class="form-control" required/>
                              </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-sm-12 col-md-12 mt-2 text-center">
                              <a id="pre-3dview" class="btn btn-default">Previous</a>
                              <button  value="1" name ="click" class="btn btn-info">Save and Finish</button>
                              <button type="submit" name="click" value="2" class="btn btn-success">Save &amp; Add More Variants</button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'admin-interface/footer.html' %}
<script >

  function hide_error(){
    setTimeout(function(){

        $("#js_error_msg").empty()
     }, 10000);
  }


  function check_input_fields(name,error_msg){

    if($('[name="'+name+'"]').val().trim()==''){

       $("#js_error_msg").text(error_msg);
       window.scrollTo(0, 0);
       hide_error() 
       return fasle;

    }
    

  }

  function instant_hide_error(){
    $("#js_error_msg").empty()

    }


  $('#next-imgs').click(function(){

    check_input_fields('colour','Product colour is required');
    check_input_fields('price','Product price(MRP) is required');
    // check_input_fields('special_price','Product special price is required');
    
    if(Number($('[name="special_price"]').val().trim()) > Number($('[name="price"]').val().trim())){

        $("#js_error_msg").text('Special price can not be greater than MRP');
         window.scrollTo(0, 0);
         hide_error() 
         return fasle;

    }

    instant_hide_error()

    $("#img-tab").trigger("click");
  });


  $('#pre-basic').click(function(){
    $("#basic-tab").trigger("click");
  });


  $('#next-3dimag').click(function(){

    if ($('[name="product_img"]').val() == ''){
      $("#js_error_msg").text('Product image is required');
       window.scrollTo(0, 0);
       hide_error() 
       
       return fasle;
    }
    instant_hide_error()
   
    $("#3dimg-tab").trigger("click");
    });

    $('#pre-imgs').click(function(){
      $("#img-tab").trigger("click");
    });

    $('#pre-3dview').click(function(){
      $("#3dimg-tab").trigger("click");
    });
    
  $('#next-invent').click(function(){

    if ($('[name="front3d"]').val() == '' && $('[name="back3d"]').val() == ''){
      $("#invent-tab").trigger("click");
        }
    else if ($('[name="front3d"]').val() == ''|| $('[name="back3d"]').val() == ''){
      $("#js_error_msg").text('Both images is required');
       window.scrollTo(0, 0);
       hide_error()
       return;

    }else{
      console.log($('[name="cloths-type"]').val())
      if ($('[name="cloths-type"]').val()=='0'){
          $("#js_error_msg").text('Wearable type is required');
          window.scrollTo(0, 0);
          hide_error()
          return;
      }
      $("#invent-tab").trigger("click");
      instant_hide_error()
    }
  });


    $(document).ready(function(){
        $("#add-img").click(function(){
          $(".image-list").append('<li class="file"><div class="file-link logoImg gal-box"><img class="gal-result" src="/media/img/img-dummy-product.jpg" /><input type="file" name="product_img" class="gal-file" style="width: 85px; margin: 0 auto;"></div><button class="file-delete-btn delete" title="Delete" type="button"><span class="icon icon-remove"></span></button></li>');

          $(".delete").on('click',function(){
            $(this).parent('.file').remove();
          });
        });
      });
</script>

    <script>

 
    $(document).ready(function(){


      $(document).on("change",".gal-file",function(e2) {
        var img1 = e2.target.files[0];
        //alert(e2.target);
        if(!iEdit.open(img1, true, function(res1){
        console.log(res1)
        $(e2.target).parent().find(".gal-result").attr("src", res1);  
        })){
        alert("Whoops! That is not an image!");
        }
      });
    
               $("#front3d").change(function(e){
                var img = e.target.files[0];
                if(!iEdit.open(img, true, function(res){
                 $("#result1").attr("src", res);      
                })){
                  alert("Whoops! That is not an image!");
                }
               });

               $("#back3d").change(function(e){
                var img = e.target.files[0];
                if(!iEdit.open(img, true, function(res){
                 $("#result2").attr("src", res);      
                })){
                  alert("Whoops! That is not an image!");
                }
               });

               $(document).on("click",".add-facility .plus-btn",function() {
                $('.add-facility .facility-box').append('\
                   <div class="col-md-6">\
                    <input id="" class="form-control" type="date">\
                    <span class="del">x</span>\
                   </div>');
                  $(".add-facility .del").on('click',function(){
                    $(this).parent('.col-md-6').remove();
                  });
              });
              });

    </script>


        <script>
 
      $(document).ready(function(){
        $("#add-inventory").click(function(){
          $(".size-inventory").append('<div class="col-md-6 col-md-offset-3 sizes inventory-group"><span class="icon icon-times-circle cross"></span><div class="col-md-6"><div class="form-group"><label class="control-label">Size : </label><select class="form-control" name="size" required ><option value="">--select size--</option><option value="XS">XS</option><option value="S">S</option><option value="M">M</option><option value="L">L</option><option value="XL">XL</option><option value="XXL">XXL</option><option value="XXXL">XXXL</option></select></div></div><div class="col-md-6"><div class="form-group"><label for="about" class="control-label">Quantity : </label><input type="number" name="qty" class="form-control" required/></div></div></div>');
 
          $(".cross").on('click',function(){
            $(this).parent('.sizes').remove();
          });
        });


      });
 
 
    </script>

        <script >
      
      setTimeout(function(){

        $("#error_msg").empty()

     }, 10000);
    </script>


