{% load staticfiles %}

{% include 'admin-interface/header.html' %}


<style>
  .image-list .file {
    width: 10% !important;
}
</style>
    <div class="user4Page ExplorerListPage">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                      <span class="d-ib">Edit Product</span>
                    </h1>
                    <a class="btn btn-default" href="/admin/users/view_product/{{product.id}}">
                          Back
                </a>
                <span style="float: right;">
                 <a class="btn btn-default" href="/admin/users/add_product_varients/{{product.id}}">
                          add New Variant
                        </a>
                        <a class="btn btn-default" href="/admin/users/view_product_varients/{{product.id}}">
                          View Variant
                        </a>

                </span>
                </div>
                <div class="row gutter-xs">
                    <div class="col-xs-12">

                        <div class="panel m-b-lg">
                          <div class="tab-content">
                            <div class="tab-pane fade active in" id="home-11">
                              
                              <div class="col-sm-12 col-md-12">
                                <div class="demo-form-wrapper">
                                    <form class="form form-horizontal member-mngmnt" method="POST" action="" enctype='multipart/form-data'>{% csrf_token%}
                                      
                                      <div class="col-sm-12 col-md-12">

                                        {% if form.errors %}


                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <p style="color:red;text-align: center; margin:0px">
                                                        <span>{{ error|escape }}</span>
                                                    </p>
                                                {% endfor %}
                                            {% endfor %}

                                            {% for error in form.non_field_errors %}
                                               <p style="color:red;text-align: center; margin:0px">
                                                    <span>{{ error|escape }}</span>
                                                </p>
                                            {% endfor %}

                                           {% endif %}

                                            {% if messages %}
                                            {% for message in messages %}
                                            <p style="color:green;text-align: center;">{{message}}</p>
                                         {% endfor %}
                                        {% endif %}





                                        <div class="form-group">
                                        <div class="col-md-4">
                                          <label class=" control-label">Select Product Main Image <br><small class="text-info">(Dimension should be : 900 X 1200 px (3:4 ratio))</small></label>
                                            <div class="pic-box">
                                              <div class="logoImg" style="width: 100px;">
                                              
                                              {% if product.main_img %}

                                               <img src="{{product.main_img.url}}" id="result1">

                                               {% else %}

                                               <img src="/media/img/img-dummy-product.jpg" id="result1">
                                               {% endif %}
                                               <input id="logo-file" name="main_img" type="file" class="hide">
                                               <label for="logo-file" class="btn btn-large"></label>
                                              </div>
                                            </div>
                                         </div>

                                         <div class="col-md-4">
                                          <label class="control-label">Product Name</label>
                                          <input id="" value= "{{product.name}}" name="name"  class="form-control" type="text" required>
                                         </div>

                                         <div class="col-md-4">
                                          <label class=" control-label">Category</label>
                                          <select class="form-control"  name="category" id ="category" selectedcat = {{product.category.id}} required>
                                            <option value="">--select category--</option>

                                            {% for category in categories %}

                                            <option id ="{{category.id}}" value="{{category.id}}">{{category.cat_name}}</option>
                                            
                                            {% endfor %}

                                          </select>
                                         </div>

                                         <div class="col-md-4">
                                         <label class=" control-label">Sub-Category</label>
                                          <select name="subcategory" class="form-control" selectedsubcat = {{product.subcategory.id}} id="subcategory" required>
                                            {% for subcategory in subcategories %}
                                            {{subcategory.subcat_name}}
                                            <option id ="{{subcategory.id}}" value="{{subcategory.id}}">{{subcategory.subcat_name}}</option>
                                            
                                            {% endfor %}
                                            
                                            
                                           
                                          </select>
                                         </div>
                                         <div class="col-md-4">
                                          <label class=" control-label">Sub-Sub-Category</label>
                                            <select name="subsubcategory" class="form-control" selectedsubsubcat = {{product.subsubcategory.id}} id="subsubcategory" required>
                                                 {% for subsubcategory in subsubcategories %}

                                            <option id ="{{subsubcategory.id}}" value="{{subsubcategory.id}}">{{subsubcategory.subsubcat_name}}</option>
                                            
                                            {% endfor %}
                                            
                                          </select>
                                         </div>

                                        </div>

                                        <div class="form-group">

                                         <div class="col-md-6">
                                         <label class=" control-label">Your Category (Select from your own categories)</label>
                                      <select name="owncategory" class="form-control" selectedowncat="{{product.usercategory.id}}" id="owncategory">
                                        <option id="" value=""></option>
                                         {% for owncategory in owncategories %}
                                            <option id="{{owncategory.id}}" value="{{owncategory.id}}">{{owncategory.name}}</option>
                                          {% endfor%}

                                          </select>
                                         </div>
                                         <div class="col-md-6">
                                          <label class=" control-label">Material</label>
                                          <input id="" name="material" class="form-control" type="text" value="{{product.material}}" required>
                                         </div>

                                        </div>
                                        <div class="form-group">

                                        

                                         <div class="col-md-4">
                                          <label class=" control-label">Fit</label>
                                          <input id="" name="fit" value="{{product.fit}}" class="form-control" type="text" required>
                                         </div>

                                         <div class="col-md-4">
                                          <label class=" control-label">Pattern</label>
                                          <input id="" name="pattern" value="{{product.pattern}}"class="form-control" type="text" required>
                                         </div>

                                          <div class="col-md-4">
                                          <label class=" control-label">Fabric</label>
                                          <input id="" name="fabric" class="form-control" type="text" value="{{product.fabric}}" required>
                                         </div>

                                        </div>

                                        <div class="form-group">
                                          <div class="col-md-6">
                                            <label for="about" class=" control-label">Description</label>
                                            <textarea id=""  name= "des" class="form-control" rows="6" required>{{product.description}}</textarea>
                                          </div>

                                          <div class="col-md-6">
                                            <label for="about" class=" control-label">More Info</label>
                                            <textarea id="" name="more_info" class="form-control" rows="6" required>{{product.more_info}}</textarea>
                                          </div>
                                        </div>

                                         <div class="row">
                                            <div class="col-sm-12 col-md-12 mt-2 text-center">
                                              
                                              <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                          </div>

                                      </div>

                                    </form>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


{% include 'admin-interface/footer.html' %}



<script>
  
 $( "#category" ).change(function() {

    var cat_id = $('#category').find(":selected").val();
    if (cat_id==null||cat_id==''){

      return false;
    }
    console.log(cat_id)
    $.ajax(
    {
        type:"GET",
        url: "/api/v1/product/subcategory/"+cat_id,

      success: function( data ) 
        {   
 
            console.log(data)
            $('#subcategory').empty()

            for (i = 0; i < (data.length); i++) {
                
                var subcat_name = data[i].subcat_name;
                var category_id = data[i].category;
                var id = data[i].id;

                

                $('#subcategory').prepend(

                  '<option id="'+category_id+'" value="'+id+'">'+subcat_name+'</option>'
                  )
           } 
         
        },

      statusCode: {
        404: function(response) {
            alert('404')
        },
        500: function(response) {
            alert('500')
        },
        400: function(response) {
            alert('400')
        },
    }
       
     })
 
});


 $( "#subcategory" ).change(function() {

    var subcat_id = $('#subcategory').find(":selected").val();
    var cat_id = $('#category').find(":selected").val();

    $.ajax(
    {
      type:"GET",
      url: "/api/v1/product/subsubcategory/"+cat_id +"/"+subcat_id,

      success: function( data ) 
        {
          console.log(data)
          $('#subsubcategory').empty()

          for (i = 0; i < (data.length); i++) {
            var subsubcat_name = data[i].subsubcat_name;
            var id = data[i].id;

            $('#subsubcategory').prepend(
              '<option value="'+id+'">'+subsubcat_name+'</option>'
            )
           }
        },

      statusCode: {
        404: function(response) {
            alert('404')
        },
        500: function(response) {
            alert('500')
        },
        400: function(response) {
            alert('400')
        },
      }
       
     })
 
});



var category = $('#category').attr('selectedcat');
$('#category option[id="' + category + '"]').prop('selected', true);


var subcategory = $('#subcategory').attr('selectedsubcat');
$('#subcategory option[id="' + subcategory + '"]').prop('selected', true);


var subsubcategory = $('#subsubcategory').attr('selectedsubsubcat');
$('#subsubcategory option[id="' + subsubcategory + '"]').prop('selected', true);


var owncategory = $('#owncategory').attr('selectedowncat');
$('#owncategory option[id="' + owncategory + '"]').prop('selected', true);






</script>
    <script>

 
    $(document).ready(function(){


      $(document).on("change",".gal-file",function(e2) {
        var img1 = e2.target.files[0];
        //alert(e2.target);
        if(!iEdit.open(img1, true, function(res1){
        console.log(res1)
        $(e2.target).parent().find(".gal-result").attr("src", res1);  
        })){
        alert("Whoops! That is not an image!");
        }
      });
    
               $("#logo-file").change(function(e){
                var img = e.target.files[0];
                if(!iEdit.open(img, true, function(res){
                 $("#result1").attr("src", res);      
                })){
                  alert("Whoops! That is not an image!");
                }
               });
               $(document).on("click",".add-facility .plus-btn",function() {
                $('.add-facility .facility-box').append('\
                   <div class="col-md-6">\
                    <input id="" class="form-control" type="date">\
                    <span class="del">x</span>\
                   </div>');
                  $(".add-facility .del").on('click',function(){
                    $(this).parent('.col-md-6').remove();
                  });
              });
              });

    </script>